/*
This command makes the CSS system works, execute sass and then add the following line:
scss --watch scss/style.scss:css/style.css
*/

@import url('https://fonts.googleapis.com/css?family=Monoton|Open+Sans:300');

/* Variables */
$monoton: 'Monoton';
$opensans: 'Open Sans';

$dark: #0A0A0A;
$yellowbird: #E8D10C;

/* Mixins */

@mixin zeroSpace($value){
    margin-bottom: $value;
}

*{
    box-sizing: border-box;
}

body{
    background: {
        color: $yellowbird;
    }
}

/*
----------------------------------------------------------------------------------------------------

Navigation Bar Features

----------------------------------------------------------------------------------------------------
*/

.main-nav{
    background: {
        color: $dark;
    }
    padding-top: 2em;
    text-align: center;
    .main-title{
        font-family: $monoton;
        font-size: 4em;
        color: $yellowbird;
        text-decoration: none;
    }   
}

.navbar{
    background: {
        color: $dark;
    }
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 0 !important;
    @include zeroSpace(0);
    border: 0;
    margin: 0;  
}

.navbar-nav{
    font-family: $opensans;
    font-size: 1.5em;
    li a{
        color: $yellowbird !important;
        transition: 0.5s;
        &:hover{
            color: lighten($color: $dark, $amount: 60%) !important;
        }
    }
}

/*
----------------------------------------------------------------------------------------------------

Carousel Section

----------------------------------------------------------------------------------------------------
*/

.carousel-main{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

/*
----------------------------------------------------------------------------------------------------

Icon title section

----------------------------------------------------------------------------------------------------
*/

.icon-title{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    .icon-jumbo{
        border-radius: 0 !important;
        max-height: 600px;
        background: {
            color: $dark !important;
        }
        h1{
            font-family: $monoton;
            font-size: 2.5em;
            color: $yellowbird;
        }
        p{
            color: $yellowbird;
            font: {
                family: $opensans;
                size: 1.5em;
            }
            padding-bottom: 3em !important;
        }
    } 
}

