<!-- views/partials/header.ejs -->

<div class=" main-nav">
        <a class="main-title" href="#">Coderpunch</a>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Motion</a></li>
        <li><a href="#">Guides</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
</nav>
    