/*
This command makes the CSS system works, execute sass and then add the following line:
scss --watch scss/style.scss:css/style.css
*/
@import url("https://fonts.googleapis.com/css?family=Monoton|Open+Sans:300");
/* Variables */
/* Mixins */
* {
  box-sizing: border-box; }

body {
  background-color: #E8D10C; }

/*
----------------------------------------------------------------------------------------------------

Navigation Bar Features

----------------------------------------------------------------------------------------------------
*/
.main-nav {
  background-color: #0A0A0A;
  padding-top: 2em;
  text-align: center; }
  .main-nav .main-title {
    font-family: "Monoton";
    font-size: 4em;
    color: #E8D10C;
    text-decoration: none; }

.navbar {
  background-color: #0A0A0A;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 0 !important;
  margin-bottom: 0;
  border: 0;
  margin: 0; }

.navbar-nav {
  font-family: "Open Sans";
  font-size: 1.5em; }
  .navbar-nav li a {
    color: #E8D10C !important;
    transition: 0.5s; }
    .navbar-nav li a:hover {
      color: #a3a3a3 !important; }

/*
----------------------------------------------------------------------------------------------------

Carousel Section

----------------------------------------------------------------------------------------------------
*/
.carousel-main {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important; }

/*
----------------------------------------------------------------------------------------------------

Icon title section

----------------------------------------------------------------------------------------------------
*/
.icon-title {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important; }
  .icon-title .icon-jumbo {
    border-radius: 0 !important;
    max-height: 600px;
    background-color: #0A0A0A !important; }
    .icon-title .icon-jumbo h1 {
      font-family: "Monoton";
      font-size: 2.5em;
      color: #E8D10C; }
    .icon-title .icon-jumbo p {
      color: #E8D10C;
      font-family: "Open Sans";
      font-size: 1.5em;
      padding-bottom: 3em !important; }

/*# sourceMappingURL=style.css.map */
